//FilterPage

.filter {
  margin-left: 10px;
  margin-top: 5px;
}

//ModalPage
.header-modal {
  $size: 20px;
  margin-bottom: $size;
  font-size: $size;
  border-bottom-width: thin;
  padding-bottom: 10px;
}
